.CtaCard {
  background-color: var(--puck-color-azure-01);
  background-image: url(https://res.cloudinary.com/measuredco/image/upload/v1732634892/site/site-background-top_v8ll2o.png),
    url(https://res.cloudinary.com/measuredco/image/upload/v1732635074/site/site-background-repeat_kjbjx5.png);
  background-position: center -1rem, top;
  background-repeat: no-repeat, repeat-y;
  background-size: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 544px;
  padding: 32px;
  text-align: left;
  border: 1px solid var(--puck-color-grey-03);
  border-radius: 8px;
  margin-top: 32px;
}

.CtaCard p a {
  color: #6db5f8 !important;
}

.CtaCard p a:hover {
  color: #93c5fa !important;
  opacity: 0.8;
}

.CtaCard-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.CtaCard-actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
