.Drawer {
  font-family: var(--puck-font-family);
}

.DrawerItem--disabled .DrawerItem-draggable {
  background: var(--puck-color-grey-11);
  color: var(--puck-color-grey-05);
  cursor: not-allowed; /** Move this out of inline styles */
}

.DrawerItem-default .DrawerItem-draggableWrapper {
  /* padding required here to prevent bug when cancelling a drag) */
  padding-bottom: 12px;
}

.DrawerItem:last-of-type .DrawerItem-default .DrawerItem-draggableWrapper {
  padding-bottom: 0;
}

.DrawerItem-draggable {
  background: var(--puck-color-white);
  padding: 12px;
  display: flex;
  border: 1px var(--puck-color-grey-09) solid;
  border-radius: 4px;
  font-size: var(--puck-font-size-xxs);
  justify-content: space-between;
  align-items: center;
  transition: background-color 50ms ease-in, color 50ms ease-in;
}

.DrawerItem:focus-visible {
  outline: 0;
}

.Drawer:not(.Drawer--isDraggingFrom)
  .DrawerItem:focus-visible
  .DrawerItem-draggable {
  border-radius: 4px;
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .Drawer:not(.Drawer--isDraggingFrom)
    .DrawerItem:not(.DrawerItem--disabled)
    .DrawerItem-draggable:hover {
    background-color: var(--puck-color-azure-12);
    color: var(--puck-color-azure-04);
    transition: none;
  }
}

.DrawerItem-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
