.Drawer {
  font-family: var(--puck-font-family);
}

.DrawerItem:last-of-type .DrawerItem-default .DrawerItem-draggableWrapper {
  padding-bottom: 0px;
}

.DrawerItem-default .DrawerItem-draggableWrapper {
  padding-bottom: 12px;
}

.DrawerItem-draggable {
  background: var(--puck-color-white);
  padding: 12px;
  display: flex;
  border: 1px var(--puck-color-grey-09) solid;
  border-radius: 4px;
  font-size: var(--puck-font-size-xxs);
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.Drawer:not(.Drawer--isDraggingFrom) .DrawerItem-draggable:hover {
  background-color: var(--puck-color-azure-11);
  color: var(--puck-color-azure-05);
}

.DrawerItem-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
