[data-dnd-placeholder] * {
  opacity: 0 !important;
}

[data-dnd-placeholder] {
  background: var(--puck-color-azure-09) !important;
  border: none !important;
  color: #00000000 !important;
  opacity: 0.3 !important;
  outline: none !important;
  transition: none !important;
}
