:root {
  --color-neutral-0: #fafafa;
  --color-neutral-1: #f3f3f3;
  --color-neutral-2: #e7e5e5;
  --color-neutral-3: #9e9e9e;
  --color-neutral-4: #2d2d2d;
  --color-neutral-blue: #10131c;
  --color-blue: #4f60cc;
  --color-rose: #a81a66;
  --color-red: #c12828;
}
