.DraggableComponent {
  position: relative;
}

.DraggableComponent-overlay {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  zoom: 1.33;
}

.DraggableComponent:hover .DraggableComponent-overlay {
  display: block;
  background-color: #cdcdcd50;
  box-shadow: inset 0 0 0 4px lightblue;
}

.DraggableComponent .DraggableComponent-overlay:hover {
  z-index: 1;
}

.DraggableComponent--isSelected .DraggableComponent-overlay {
  box-shadow: inset 0 0 0 4px lightblue;
  display: block;
  z-index: 1;
}

.DraggableComponent:first-of-type .DraggableComponent-overlay {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.DraggableComponent:last-of-type .DraggableComponent-overlay {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.DraggableComponent-actions {
  display: none;
}

.DraggableComponent:hover .DraggableComponent-actions {
  position: absolute;
  right: 0;
  padding: 16px;
  border-bottom-left-radius: 8px;
  background: white;
  display: flex;
  gap: 8px;
}
