@import "../../packages/core/styles.css";

article p a,
article li a,
article td a {
  color: var(--puck-color-azure-05) !important;
}

article p a:hover,
article li a:hover,
article td a:hover {
  color: var(--puck-color-azure-03) !important;
}

html.dark p a:hover,
html.dark li a:hover {
  color: var(--puck-color-azure-07) !important;
}

li > a {
  white-space: nowrap;
}
