.Input {
  display: block;
  font-family: var(--puck-font-stack);
}

.Input * {
  box-sizing: border-box;
}

.Input + .Input {
  margin-top: 8px;
}

.Input-label {
  margin-bottom: 4px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 500;
}

.Input-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-8);
  border-radius: 4px;
  font-family: inherit;
  padding: 12px 16px;
  width: 100%;
}

.Input select {
  /* Safari */
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: white;
}

.Input--readOnly .Input-input {
  background-color: var(--puck-color-grey-9);
  border-color: var(--puck-color-grey-8);
}

.Input-input:hover {
  border-color: var(--puck-color-neutral-3);
}

.Input-group {
  background: white;
  border-bottom: var(--puck-color-grey-8) solid 1px;
}

.Input-group > summary {
  padding: 16px;
  position: relative;
}

.Input-group > summary:hover {
  cursor: pointer;
  color: var(--puck-color-blue);
}

.Input-group > fieldset {
  border: none;
  border-top: var(--puck-color-grey-8) solid 1px;
  margin: 0;
  padding: 16px;
}

.Input-group .Input-action {
  background: transparent;
  border: none;
  color: var(--puck-color-grey-2);
  display: none;
  padding: 8px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.Input-group summary:hover .Input-action {
  display: block;
}

.Input-group .Input-action:hover {
  background: var(--puck-color-grey-9);
  color: var(--puck-color-blue);
  cursor: pointer;
}

.Input-addButton {
  background-color: white;
  border: none;
  color: var(--puck-color-blue);
  cursor: pointer;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
}

.Input-addButton:hover {
  background: var(--puck-color-grey-9);
}

.Input-item {
  border: 1px solid var(--puck-color-grey-8);
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
}
