.ActionBar {
  display: flex;
  width: auto;
  padding: 4px;
  padding-right: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-radius: 8px;
  background: var(--puck-color-grey-01);
  color: var(--puck-color-white);
  font-family: var(--puck-font-family);
  gap: 4px;
  min-height: 26px;
}

.ActionBar-actionsLabel {
  color: var(--puck-color-grey-08);
  display: flex;
  font-size: var(--puck-font-size-xxxs);
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActionBar-group {
  border-inline-start: 0.5px solid var(--puck-color-grey-05); /* Fractional value required due to scaling */
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
}

.ActionBar-group:last-of-type {
  padding-right: 0;
}

.ActionBar-group:empty {
  display: none;
}

.ActionBar-action {
  background: transparent;
  border: none;
  color: var(--puck-color-grey-08);
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 50ms ease-in;
}

.ActionBar-action:focus-visible {
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: -2px;
}

@media (hover: hover) and (pointer: fine) {
  .ActionBar-action:hover {
    color: var(--puck-color-azure-06);
    transition: none;
  }
}

.ActionBar-action:active {
  color: var(--puck-color-azure-07);
  transition: none;
}
