.LayerTree {
  color: var(--puck-color-grey-2);
  font-family: var(--puck-font-stack);
  font-size: var(--puck-font-size-xxs);
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}

.LayerTree-zoneTitle {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-xxxs);
  text-transform: uppercase;
}

.LayerTree-helper {
  text-align: center;
  color: var(--puck-color-grey-6);
  font-family: var(--puck-font-stack);
  margin: 8px 4px;
}

.Layer {
  position: relative;
  border: 1px solid transparent;
}

.Layer-inner {
  padding-left: 12px;
  padding-right: 4px;
  border-radius: 4px;
}

.Layer--containsZone > .Layer-inner {
  padding-left: 0;
}

.Layer-clickable {
  align-items: center;
  display: flex;
}

.Layer-inner:hover {
  cursor: pointer;
}

.Layer:not(.Layer--isSelected) > .Layer-inner:hover,
.Layer--isHovering > .Layer-inner {
  color: var(--puck-color-blue);
  background: var(--puck-color-azure-85);
}

.Layer--isSelected {
  background: var(--puck-color-azure-9);
  border-color: var(--puck-color-azure-7);
  border-radius: 4px;
}

.Layer--isSelected > .Layer-inner {
  background: var(--puck-color-azure-85);
  font-weight: 600;
}

.Layer--isSelected > .Layer-inner > .Layer-clickable > .Layer-chevron,
.Layer--childIsSelected > .Layer-inner > .Layer-clickable > .Layer-chevron {
  transform: scaleY(-1);
}

.Layer-zones {
  display: none;
  margin-left: 12px;
}

.Layer--isSelected > .Layer-zones,
.Layer--childIsSelected > .Layer-zones {
  display: block;
}

.Layer-zones > .LayerTree {
  margin-left: 12px;
}

.Layer-title,
.LayerTree-zoneTitle {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px 4px;
  overflow-x: hidden;
}

.Layer-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Layer-icon {
  color: var(--puck-color-rose-6);
  margin-top: 4px;
}

.Layer-zoneIcon {
  color: var(--puck-color-grey-7);
  margin-top: 4px;
}
