.ComponentList {
  display: grid;
  font-family: var(--puck-font-stack);
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 16px;
}

.ComponentList-item,
.ComponentList-itemShadow {
  background: white;
  color: black;
  padding: 16px;
  display: flex;
  border: 1px #ccc solid;
  border-radius: 8px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
  justify-content: center;
  cursor: grab;
}

.ComponentList-item:hover {
  background-color: var(--puck-color-grey-9);
}
