.Input {
  color: var(--puck-color-grey-3);
  padding: 16px;
  padding-bottom: 12px;
  display: block;
  font-family: var(--puck-font-stack);
}

.Input .Input {
  padding: 0px;
}

.Input * {
  box-sizing: border-box;
}

.Input + .Input {
  border-top: 1px solid var(--puck-color-grey-8);
  margin-top: 8px;
}

.Input .Input + .Input {
  border-top: 0px;
  margin-top: 12px;
}

.Input-label {
  display: flex;
  padding-bottom: 12px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
}

.Input-labelIcon {
  color: var(--puck-color-grey-6);
  margin-right: 4px;
}

.Input-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-8);
  border-radius: 4px;
  font-family: inherit;
  padding: 12px 16px;
  width: 100%;
}

.Input select {
  /* Safari */
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: white;
}

.Input--readOnly .Input-input {
  background-color: var(--puck-color-grey-10);
  border-color: var(--puck-color-grey-8);
}

.Input-input:hover {
  border-color: var(--puck-color-neutral-3);
}

.Input-arrayItem {
  background: white;
  border: 1px solid var(--puck-color-grey-8);
  border-radius: 4px;
}

.Input-arrayItem > summary {
  color: var(--puck-color-grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--puck-font-size-xxs);
  list-style: none;
  padding: 12px 16px;
  position: relative;
}

.Input-arrayItem > summary:hover {
  cursor: pointer;
  color: var(--puck-color-blue);
}

.Input-arrayItem > summary::-webkit-details-marker {
  display: none;
}

.Input-arrayItem > .Input-fieldset {
  background-color: var(--puck-color-grey-11);
  border: none;
  border-top: 1px solid var(--puck-color-grey-8);
  margin: 0;
  padding: 16px;
}

.Input-arrayItem
  > .Input-fieldset
  .Input
  + .Input-arrayItem
  > .Input-fieldset
  .Input {
  margin-top: 16px;
}

.Input-arrayItem > .Input-fieldset .Input-label {
  padding-bottom: 4px;
}

.Input-arrayItem .Input-arrayItemAction {
  border-radius: 4px;
  opacity: 0;
}

.Input-arrayItem summary:hover .Input-arrayItemAction {
  opacity: 1;
}

.Input-arrayItem .Input-arrayItemAction:hover {
  background: var(--puck-color-grey-9);
  color: var(--puck-color-blue);
  cursor: pointer;
}

.Input-arrayItem + .Input-arrayItem {
  margin-top: 12px;
}

.Input-addButton {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: var(--puck-color-blue);
  cursor: pointer;
  width: 100%;
  margin: 0;
  margin-top: 12px;
  padding: 12px 16px;
  text-align: left;
}

.Input-addButton:hover {
  background: var(--puck-color-grey-10);
}

.Input-array {
  overflow: hidden;
}

.Input-radioGroupItems {
  display: flex;
  border: 1px solid var(--puck-color-grey-7);
  border-radius: 4px;
  flex-wrap: wrap;
  overflow: hidden;
}

.Input-radio {
  border-right: 1px solid var(--puck-color-grey-7);
  flex-grow: 1;
}

.Input-radio:last-of-type {
  border-right: none;
}

.Input-radioInner {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-xxxs);
  padding: 8px 12px;
  text-align: center;
}

.Input-radioInner:hover {
  background-color: var(--puck-color-azure-9);
  cursor: pointer;
}

.Input-radio .Input-radioInput:checked ~ .Input-radioInner {
  background-color: var(--puck-color-azure-9);
  color: var(--puck-color-grey-2);
  font-weight: 500;
}

.Input-radio .Input-radioInput {
  display: none;
}

.Input textarea.Input-input {
  margin-bottom: -4px; /* Remove strange bottom border */
}
