.Input {
  color: var(--puck-color-grey-3);
  padding: 16px;
  padding-bottom: 12px;
  display: block;
  font-family: var(--puck-font-stack);
}

.Input .Input {
  padding: 0px;
}

.Input * {
  box-sizing: border-box;
}

.Input + .Input {
  border-top: 1px solid var(--puck-color-grey-8);
  margin-top: 8px;
}

.Input .Input + .Input {
  border-top: 0px;
  margin-top: 12px;
}

.Input-label {
  align-items: center;
  display: flex;
  padding-bottom: 12px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
}

.Input-labelIcon {
  color: var(--puck-color-grey-6);
  margin-right: 4px;
  padding-left: 4px;
}

.Input-disabledIcon {
  color: var(--puck-color-grey-4);
  margin-left: auto;
}

.Input-input {
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-8);
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  width: 100%;
}

.Input select.Input-input {
  /* Safari */
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: white;
}

.Input--readOnly > .Input-input,
.Input--readOnly > select.Input-input {
  background-color: var(--puck-color-grey-11);
  border-color: var(--puck-color-grey-8);
  color: var(--puck-color-grey-5);
  opacity: 1;
}

.Input-input:hover {
  border-color: var(--puck-color-neutral-3);
}

.Input-input:focus {
  border-color: var(--puck-color-azure-4);
  outline: var(--puck-color-azure-8) 4px solid;
  outline-offset: 0;
}

.Input-radioGroupItems {
  display: flex;
  border: 1px solid var(--puck-color-grey-7);
  border-radius: 4px;
  flex-wrap: wrap;
  overflow: hidden;
}

.Input-radio {
  border-right: 1px solid var(--puck-color-grey-7);
  flex-grow: 1;
}

.Input-radio:last-of-type {
  border-right: none;
}

.Input-radioInner {
  background-color: white;
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-xxxs);
  padding: 8px 12px;
  text-align: center;
}

.Input-radioInner:hover {
  background-color: var(--puck-color-azure-9);
  cursor: pointer;
}

.Input--readOnly .Input-radioGroupItems {
  border-color: var(--puck-color-grey-8);
}

.Input--readOnly .Input-radioInner {
  background-color: var(--puck-color-grey-11);
  color: var(--puck-color-grey-5);
}

.Input-radio .Input-radioInput:checked ~ .Input-radioInner {
  background-color: var(--puck-color-azure-9);
  color: var(--puck-color-grey-1);
  font-weight: 500;
}

.Input--readOnly .Input-radioInput:checked ~ .Input-radioInner {
  background-color: var(--puck-color-azure-9);
  color: var(--puck-color-grey-4);
}

.Input-radio .Input-radioInput {
  display: none;
}

.Input textarea.Input-input {
  margin-bottom: -4px; /* Remove strange bottom border */
}
