/*
 * Puck's responsive layout uses minimum viewport widths slightly _below_ common
 * framework/device breakpoints, and ensures that the width of the resulting
 * Puck page preview (zoomed at 75%) is slightly _above_ common framework/device
 * breakpoints. This can help alleviate some of the pain when editing responsive
 * pages in a preview area that is narrower than the reported viewport width.
 *
 * Viewport | Puck page @ zoom 0.75
 * --------------------------------
 * -        | 322px
 * 766px    | 322px
 * 990px    | 604px
 * 1022px   | 646px
 * 1198px   | 801px
 * 1398px   | 1025px
 * 1598px   | 1212px
 */

.Puck {
  --puck-space-px: 16px;
  font-family: var(--puck-font-family);
}

.Puck-portal {
  position: relative;
  z-index: 2;
}

/* Puck Layout */

.PuckLayout {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.PuckLayout-inner {
  --puck-frame-width: auto;
  --puck-side-bar-width: 0px;
  display: grid;
  grid-template-areas: "header header header" "left editor right";
  grid-template-columns: 0 var(--puck-frame-width) 0;
  grid-template-rows: min-content auto;
  height: 100dvh;
  position: relative;
  z-index: 0;
}

.PuckLayout--mounted .PuckLayout-inner {
  --puck-side-bar-width: 186px;
}

.PuckLayout--leftSideBarVisible .PuckLayout-inner {
  grid-template-columns:
    var(--puck-side-bar-width) var(--puck-frame-width)
    0;
}

.PuckLayout--rightSideBarVisible .PuckLayout-inner {
  grid-template-columns:
    0 var(--puck-frame-width)
    var(--puck-side-bar-width);
}

.PuckLayout--leftSideBarVisible.PuckLayout--rightSideBarVisible
  .PuckLayout-inner {
  grid-template-columns:
    var(--puck-side-bar-width) var(--puck-frame-width)
    var(--puck-side-bar-width);
}

@media (min-width: 458px) {
  .PuckLayout-mounted .PuckLayout-inner {
    --puck-frame-width: minmax(266px, auto);
  }
}

@media (min-width: 638px) {
  .PuckLayout .PuckLayout-inner {
    --puck-side-bar-width: minmax(186px, 250px);
  }
}

@media (min-width: 766px) {
  .PuckLayout .PuckLayout-inner {
    --puck-frame-width: auto;
  }
}

@media (min-width: 990px) {
  .PuckLayout .PuckLayout-inner {
    --puck-side-bar-width: 256px;
  }
}

@media (min-width: 1198px) {
  .PuckLayout .PuckLayout-inner {
    --puck-side-bar-width: 274px;
  }
}

@media (min-width: 1398px) {
  .PuckLayout .PuckLayout-inner {
    --puck-side-bar-width: 290px;
  }
}

@media (min-width: 1598px) {
  .PuckLayout .PuckLayout-inner {
    --puck-side-bar-width: 320px;
  }
}

.PuckLayout-header {
  background: var(--puck-color-white);
  border-bottom: 1px solid var(--puck-color-grey-09);
  color: var(--puck-color-black);
  grid-area: header;
  position: relative;
  max-width: 100vw;
}

.PuckLayout-headerInner {
  align-items: end;
  display: grid;
  gap: var(--puck-space-px);
  grid-template-areas: "left middle right";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  padding: var(--puck-space-px);
}

.PuckLayout-headerToggle {
  color: var(--puck-color-grey-05);
  display: flex;
  margin-left: -4px;
  padding-top: 2px;
}

.PuckLayout--rightSideBarVisible .PuckLayout-rightSideBarToggle,
.PuckLayout--leftSideBarVisible .PuckLayout-leftSideBarToggle {
  color: var(--puck-color-black);
}

.PuckLayout-headerTitle {
  align-self: center;
}

.PuckLayout-headerPath {
  font-family: var(--puck-font-family-monospaced);
  font-size: var(--puck-font-size-xxs);
  font-weight: normal;
  word-break: break-all;
}

.PuckLayout-headerTools {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.PuckLayout-menuButton {
  color: var(--puck-color-grey-05);
  margin-left: -4px;
}

.PuckLayout--menuOpen .PuckLayout-menuButton {
  color: var(--puck-color-black);
}

@media (min-width: 638px) {
  .PuckLayout-menuButton {
    display: none;
  }
}

.PuckLayout-leftSideBar {
  background: var(--puck-color-grey-12);
  border-right: 1px solid var(--puck-color-grey-09);
  display: flex;
  flex-direction: column;
  grid-area: left;
  overflow-y: auto;
}

.PuckLayout-rightSideBar {
  background: var(--puck-color-white);
  border-left: 1px solid var(--puck-color-grey-09);
  display: flex;
  flex-direction: column;
  grid-area: right;
  overflow-y: auto;
}
