.Modal {
  background: #00000099;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 64px;
}

.Modal--isOpen {
  display: flex;
}

.Modal-inner {
  width: 100%;
  max-width: 1024px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}
