.DragIcon {
  color: var(--puck-color-grey-05);
  cursor: grab;
  padding: 4px;
  border-radius: 4px;
}

@media (hover: hover) and (pointer: fine) {
  .DragIcon:hover {
    color: var(--puck-color-azure-05);
    background-color: var(--puck-color-azure-12);
  }
}
