.Section:not(.Section .Section) {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .Section:not(.Section .Section) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.Section-inner {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.Section .Section .Section-inner {
  margin-left: 0;
  margin-right: 0;
}
