.Button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.05ch;
  font-family: var(--puck-font-family-proportional);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.Button--medium {
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.Button--large {
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}

.Button-icon {
  margin-top: 2px;
}

.Button:hover {
  text-decoration: none;
}

.Button--primary {
  background: var(--puck-color-blue);
}

.Button--primary:hover {
  opacity: 0.7;
  transition: opacity 50ms ease-in;
}

.Button--secondary {
  color: currentColor;
  border: 1px solid currentColor;
}

.Button--secondary:hover {
  background-color: var(--puck-color-grey-10);
  color: black;
  opacity: 0.7;
}

.Button--flush {
  border-radius: 0;
}

.Button--disabled {
  background: var(--puck-color-grey-10);
  color: black;
  cursor: not-allowed;
}

.Button--disabled:hover {
  opacity: 1;
}

.Button--fullWidth {
  width: 100%;
}
