.ReleaseSwitcher {
  appearance: none; /* Safari */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: var(--puck-color-grey-11);
  border-radius: 100px;
  color: black;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  height: 33px; /* Magic number to align with Nextra search */
  width: 156px;
}

.ReleaseSwitcher--light {
  background-color: white;
  border: 1px solid var(--puck-color-grey-10);
}
