.ComponentList {
  font-family: var(--puck-font-stack);
  max-width: 100%;
}

.ComponentList-item {
  background: white;
  padding: 12px;
  display: flex;
  border: 1px var(--puck-color-grey-8) solid;
  border-radius: 4px;
  font-size: var(--puck-font-size-xxs);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: grab;
  margin-bottom: 12px;
}

.ComponentList-item:last-of-type {
  margin-bottom: 0px;
}

.ComponentList-itemIcon {
  color: var(--puck-color-grey-4);
}

.ComponentList:not(.ComponentList--isDraggingFrom) .ComponentList-item:hover {
  background-color: var(--puck-color-azure-9);
  color: var(--puck-color-azure-4);
}
