.ComponentList {
  display: grid;
  font-family: var(--puck-font-stack);
  grid-template-columns: 1fr;
  max-width: 100%;
  grid-gap: 12px;
}

.ComponentList-item,
.ComponentList-itemShadow {
  background: white;
  padding: 12px;
  display: flex;
  border: 1px var(--puck-color-grey-8) solid;
  border-radius: 8px;
  font-size: var(--puck-font-size-xxs);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: grab;
}

.ComponentList-item:last-of-type,
.ComponentList-itemShadow:last-of-type {
  margin-bottom: 0px;
}

.ComponentList-itemIcon {
  color: var(--puck-color-grey-4);
}

.ComponentList-item:hover {
  background-color: var(--puck-color-azure-9);
}
