.PreviewFrame {
  background: white;
  border: 1px solid var(--puck-color-grey-09);
  color: black;
  border-radius: 16px;
  margin-top: 32px;
  overflow: hidden;
}

.PreviewFrame-header {
  background: var(--puck-color-azure-11);
  gap: 8px;
  color: var(--puck-color-azure-05);
  font-weight: 0;
  padding: 12px 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid var(--puck-color-grey-09);
  align-items: center;
}

.PreviewFrame-annotation {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.PreviewFrame-label {
  margin-left: auto;
}

.PreviewFrame-body {
  padding: 32px;
}

.ConfigPreview {
  display: flex;
  flex-wrap: wrap;
  background: var(--puck-color-grey-09);
  gap: 1px;
}

.ConfigPreview-field {
  flex-grow: 1;
  flex-basis: 49%;
  min-width: 1px;
  background: white;
}

.ConfigPreview-fieldLabel {
  padding: 24px;
}

.ConfigPreview-fieldLabel + .ConfigPreview-fieldLabel {
  border-top: 1px solid var(--puck-color-grey-09);
}

.ConfigPreview-preview {
  color: var(--puck-color-grey-03);
  flex-grow: 1;
  flex-basis: 49%;
  min-width: 256px;
  padding: 16px;
  background: white;
}

.ConfigPreview-preview > * {
  color: var(
    --puck-color-grey-03
  ) !important; /* Override any injected Nextra/Tailwind styles */
}
