.FooterActions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.FooterActions-releaseSwitcher {
  display: block;
  margin-inline-start: auto;
}

@media (min-width: 768px) {
  .FooterActions-releaseSwitcher {
    display: none;
  }
}
