.OutlineList {
  color: var(--puck-color-grey-2);
  font-family: var(--puck-font-stack);
  margin: 0;
  padding-left: 16px;
  position: relative;
  list-style: none;
}

.OutlineList::before {
  background: var(--puck-color-grey-7);
  position: absolute;
  left: -1px;
  top: 0px;
  width: 1px;
  height: calc(100% - 9px);
  content: "";
}

.OutlineListItem {
  position: relative;
  margin-bottom: 4px;
}

.OutlineListItem::before {
  background: var(--puck-color-grey-7);
  position: absolute;
  left: -17px;
  top: 9px;
  width: 13px;
  height: 1px;
  content: "";
}

.OutlineListItem--clickable:hover {
  color: var(--puck-color-blue);
  cursor: pointer;
}

.OutlineListItem > .OutlineList {
  margin: 8px 0;
}
