:root {
  --puck-color-neutral-0: #fafafa;
  --puck-color-neutral-1: #f3f3f3;
  --puck-color-neutral-2: #e7e5e5;
  --puck-color-neutral-3: #9e9e9e;
  --puck-color-neutral-4: #2d2d2d;
  --puck-color-neutral-blue: #10131c;
  --puck-color-blue: var(--puck-color-azure-3);
  --puck-color-rose: var(--puck-color-rose-3);
  --puck-color-red: var(--puck-color-red-3);

  /*
   * Color palette
   */

  --puck-color-rose-0: #4a001c;
  --puck-color-rose-1: #670833;
  --puck-color-rose-2: #87114c;
  --puck-color-rose-3: #a81a66;
  --puck-color-rose-4: #bc5089;
  --puck-color-rose-5: #cc7ca5;
  --puck-color-rose-6: #d89aba;
  --puck-color-rose-7: #e3b8cf;
  --puck-color-rose-8: #efd6e3;
  --puck-color-rose-9: #faf4f8;

  --puck-color-azure-0: #00175d;
  --puck-color-azure-1: #002c77;
  --puck-color-azure-2: #014292;
  --puck-color-azure-3: #0158ad;
  --puck-color-azure-4: #3479be;
  --puck-color-azure-5: #6499cf;
  --puck-color-azure-6: #88b0da;
  --puck-color-azure-7: #abc7e5;
  --puck-color-azure-8: #cfdff0;
  --puck-color-azure-85: #e1eaf6;
  --puck-color-azure-9: #f3f6fb;

  --puck-color-green-0: #002000;
  --puck-color-green-1: #043604;
  --puck-color-green-2: #084e08;
  --puck-color-green-3: #0c680c;
  --puck-color-green-4: #1d882f;
  --puck-color-green-5: #2faa53;
  --puck-color-green-6: #56c16f;
  --puck-color-green-7: #7dd78b;
  --puck-color-green-8: #b8e8bf;
  --puck-color-green-9: #eff8f0;

  --puck-color-yellow-0: #211000;
  --puck-color-yellow-1: #362700;
  --puck-color-yellow-2: #4c4000;
  --puck-color-yellow-3: #645a00;
  --puck-color-yellow-4: #877614;
  --puck-color-yellow-5: #ab9429;
  --puck-color-yellow-6: #bfac4e;
  --puck-color-yellow-7: #d4c474;
  --puck-color-yellow-8: #e6deb1;
  --puck-color-yellow-9: #f9f7ed;

  --puck-color-red-0: #4c0000;
  --puck-color-red-1: #6a0a10;
  --puck-color-red-2: #8a1422;
  --puck-color-red-3: #ac1f35;
  --puck-color-red-4: #bf5366;
  --puck-color-red-5: #ce7e8e;
  --puck-color-red-6: #d99ca8;
  --puck-color-red-7: #e4b9c2;
  --puck-color-red-8: #efd7db;
  --puck-color-red-9: #faf4f5;

  --puck-color-grey-0: #111111;
  --puck-color-grey-1: #282828;
  --puck-color-grey-2: #404040;
  --puck-color-grey-3: #5a5a5a;
  --puck-color-grey-4: #767676;
  --puck-color-grey-5: #949494;
  --puck-color-grey-6: #ababab;
  --puck-color-grey-7: #c3c3c3;
  --puck-color-grey-8: #dcdcdc;
  --puck-color-grey-9: #efefef; /* Drifted from Measured value */
  --puck-color-grey-10: #f5f5f5;
  --puck-color-grey-11: #fafafa;

  --puck-color-black: #000000;
  --puck-color-white: #ffffff;
}
