@import "./color.css";
@import "./typography.css";

.puck {
  padding: 0;
  letter-spacing: 0.02ch;
  margin: 0;
  font-family: var(--puck-font-stack);
}

@supports (font-variation-settings: normal) {
  .puck {
    font-family: var(--puck-font-stack-variable);
  }
}

.puck a {
  color: var(--puck-color-primary);
  font-weight: 500;
  text-decoration: none;
}

.puck a:hover {
  text-decoration: underline;
}

.puck b {
  font-weight: 600;
}

.puck * {
  box-sizing: border-box;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

.puck blockquote,
.puck dl,
.puck dd,
.puck h1,
.puck h2,
.puck h3,
.puck h4,
.puck h5,
.puck h6,
.puck figure,
.puck p,
.puck pre {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.puck ol,
.puck ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
