.DropZone {
  --drop-animation-ms: 250ms;
  --resize-animation-ms: 150ms;

  position: relative;
  height: 100%;
  min-height: var(--min-empty-height);
  outline-offset: -2px;
  width: 100%;
}

.DropZone--hasChildren {
  min-height: 0;
}

.DropZone:empty {
  min-height: var(--min-empty-height);
}

.DropZone--hasChildren:not(.DropZone--userIsDragging) {
  transition: min-height var(--resize-animation-ms) var(--drop-animation-ms)
    ease-in;
}

.DropZone:empty:not(.DropZone--userIsDragging) {
  transition: min-height var(--resize-animation-ms) ease-in;
}

.DropZone--isAreaSelected,
.DropZone--hoveringOverArea:not(.DropZone--isRootZone) {
  background: color-mix(in srgb, var(--puck-color-azure-09) 30%, transparent);
  outline: 2px dashed var(--puck-color-azure-08);
}

.DropZone:empty {
  background: color-mix(in srgb, var(--puck-color-azure-09) 30%, transparent);
  outline: 2px dashed var(--puck-color-azure-08);
}

.DropZone--isDestination {
  outline: 2px dashed var(--puck-color-azure-04) !important;
}

.DropZone--isDestination:not(.DropZone--isRootZone) {
  background: color-mix(
    in srgb,
    var(--puck-color-azure-09) 30%,
    transparent
  ) !important;
}

.DropZone-item {
  position: relative;
}

.DropZone-hitbox {
  position: absolute;
  bottom: -12px;
  height: 24px;
  width: 100%;
  z-index: 1;
}

.DropZone--isEnabled.DropZone--userIsDragging {
  outline: 2px dashed var(--puck-color-azure-06);
}

.DropZone > *:not([data-puck-component]) {
  display: none;
}
