.DropZone {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  outline-offset: -1px;
  width: 100%;
}

.DropZone--zoomEnabled {
  zoom: 1.33;
}

.DropZone--zoomEnabled .DropZone-renderWrapper {
  zoom: 0.75;
}

.DropZone-content {
  min-height: 128px;
  height: 100%;
}

.DropZone--userIsDragging .DropZone-content {
  pointer-events: all;
}

.DropZone--userIsDragging:not(.DropZone--draggingOverArea):not(
    .DropZone--draggingNewComponent
  )
  > .DropZone-content {
  pointer-events: none;
}

.DropZone--isAreaSelected,
.DropZone--draggingOverArea:not(:has(.DropZone--hoveringOverArea)),
.DropZone--hoveringOverArea:not(.DropZone--isDisabled):not(
    .DropZone--isRootZone
  ):not(.DropZone--hasChildren) {
  background: color-mix(in srgb, var(--puck-color-azure-09) 30%, transparent);
  outline: 2px dashed var(--puck-color-azure-08);
}

.DropZone:not(.DropZone--hasChildren) {
  background: color-mix(in srgb, var(--puck-color-azure-09) 30%, transparent);
  outline: 2px dashed var(--puck-color-azure-08);
}

.DropZone--isDestination {
  outline: 2px dashed var(--puck-color-azure-04) !important;
}

.DropZone--isDestination:not(.DropZone--isRootZone) {
  background: var(--puck-color-azure-10) !important;
}

.DropZone-item {
  position: relative;
}

.DropZone-hitbox {
  position: absolute;
  bottom: -12px;
  height: 24px;
  width: 100%;
  z-index: 1;
}
