.SidebarSection {
  display: flex;
  flex-direction: column;
}

.SidebarSection:last-of-type {
  flex-grow: 1;
}

.SidebarSection-title {
  background: white;
  padding: 16px;
  border-bottom: 1px solid var(--puck-color-grey-8);
}

.SidebarSection-title:hover {
  opacity: 0.6;
  cursor: pointer;
}

.SidebarSection-content {
  border-bottom: 1px solid var(--puck-color-grey-8);
  padding: 16px;
}

.SidebarSection:last-of-type .SidebarSection-content {
  border-bottom: none;
  flex-grow: 1;
}

.SidebarSection > summary {
  list-style: none;
}

.SidebarSection > summary::-webkit-details-marker {
  display: none;
}
