.ExternalInput-actions {
  display: flex;
}

.ExternalInput-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--puck-color-white);
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  color: var(--puck-color-azure-04);
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 50ms ease-in;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.ExternalInput--dataSelected .ExternalInput-button {
  color: var(--puck-color-grey-03);
  display: block;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ExternalInput-detachButton {
  border: 1px solid var(--puck-color-grey-09);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--puck-color-grey-12);
  color: var(--puck-color-grey-05);
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  transition: background-color 50ms ease-in, color 50ms ease-in;
  margin-left: -1px;
}

.ExternalInput-button:focus-visible,
.ExternalInput-detachButton:focus-visible {
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: 2px;
  z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
  .ExternalInput-button:hover,
  .ExternalInput-detachButton:hover {
    background: var(--puck-color-azure-12);
    transition: none;
  }

  .ExternalInput-detachButton:hover {
    color: var(--puck-color-azure-04);
  }
}

.ExternalInput-button:active,
.ExternalInput-detachButton:active {
  background: var(--puck-color-azure-11);
  transition: none;
}

.ExternalInputModal {
  color: var(--puck-color-black);
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 90vh;
}

.ExternalInputModal-masthead {
  background-color: var(--puck-color-white);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px 24px;
}

.ExternalInputModal-tableWrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  flex-grow: 1;
}

.ExternalInputModal-table {
  border-collapse: unset;
  border-spacing: 0px;
  color: var(--puck-color-grey-02);
  position: relative;
  z-index: 0;
  min-width: 100%;
}

.ExternalInputModal-thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ExternalInputModal-th {
  border-bottom: 1px solid var(--puck-color-grey-09);
  border-top: 1px solid var(--puck-color-grey-09);
  font-weight: 700;
  padding: 16px 24px;
  opacity: 0.9;
}

.ExternalInputModal-td {
  padding: 16px 24px;
}

.ExternalInputModal-tr:nth-of-type(n) {
  background-color: var(--puck-color-white);
}

.ExternalInputModal-tr:nth-of-type(2n) {
  background-color: var(--puck-color-grey-12);
}

.ExternalInputModal-tr .ExternalInputModal-td:first-of-type {
  font-weight: 500;
}

@media (hover: hover) and (pointer: fine) {
  .ExternalInputModal-tbody .ExternalInputModal-tr:hover {
    background: var(--puck-color-grey-11);
    color: var(--puck-color-azure-04);
    cursor: pointer;
    position: relative;
    margin-left: -5px;
  }

  .ExternalInputModal-tbody
    .ExternalInputModal-tr:hover
    .ExternalInputModal-td:first-of-type {
    border-left: 4px solid var(--puck-color-azure-04);
    padding-left: 20px;
  }
}

.ExternalInputModal-tableWrapper {
  display: none;
}

.ExternalInputModal--hasData .ExternalInputModal-tableWrapper {
  display: block;
}

.ExternalInputModal-loadingBanner {
  display: none;
  background-color: color-mix(in srgb, var(--puck-color-white) 90%, transparent);
  padding: 64px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ExternalInputModal--isLoading .ExternalInputModal-loadingBanner {
  display: flex;
}

.ExternalInputModal-noContentBanner {
  display: none;
  border-top: 1px solid var(--puck-color-grey-09);
  padding: 24px;
  text-align: center;
}

.ExternalInputModal--loaded:not(.ExternalInputModal--hasData)
  .ExternalInputModal-noContentBanner {
  display: block;
}

.ExternalInputModal-searchForm {
  display: flex;
  margin-left: auto;
  height: 43px;
  gap: 12px;
}

.ExternalInputModal-search {
  display: flex;
  background: var(--puck-color-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-09);
  border-radius: 4px;
  transition: border-color 50ms ease-in;
  width: 100%;
}

.ExternalInputModal-search:focus-within {
  border-color: var(--puck-color-grey-05);
  outline: 2px solid var(--puck-color-azure-05);
  transition: none;
}

@media (hover: hover) and (pointer: fine) {
  .ExternalInputModal-search:hover {
    border-color: var(--puck-color-grey-05);
    transition: none;
  }
}

.ExternalInputModal-searchIcon {
  align-items: center;
  background: var(--puck-color-grey-12);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 1px solid var(--puck-color-grey-09);
  color: var(--puck-color-grey-07);
  display: flex;
  justify-content: center;
  padding: 12px 15px;
  transition: color 50ms ease-in;
}

.ExternalInputModal-search:focus-within .ExternalInputModal-searchIcon {
  color: var(--puck-color-grey-04);
  transition: none;
}

@media (hover: hover) and (pointer: fine) {
  .ExternalInputModal-search:hover .ExternalInputModal-searchIcon {
    color: var(--puck-color-grey-04);
    transition: none;
  }
}

.ExternalInputModal-searchIconText {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ExternalInputModal-searchInput {
  border: none;
  border-radius: 4px;
  background: var(--puck-color-white);
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  width: 100%;
}

.ExternalInputModal-searchInput:focus {
  outline: 0;
}
