.SidebarSection {
  border-bottom: 1px solid var(--puck-color-grey-8);
}

.SidebarSection:last-of-type {
  border-bottom: none;
  height: 100%;
}

.SidebarSection-title {
  background: white;
  padding: 16px;
  border-bottom: 1px solid var(--puck-color-grey-8);
}

.SidebarSection-content {
  padding: 16px;
}
